<!DOCTYPE html>
<html>
  <head>
    <title>Calcs4Kids</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto|Damion|Slabo+27px" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= favicon_link_tag %> 

    <meta property="og:title" content="Calcs4Kids | Donate ">
    <meta property="og:description" content="Connecting young scholars with graphing calculators so they have the tools they need to thrive academically.">
    <meta property="og:image" content="http://www.calcs4kids.com/social.jpg">
    <meta property="og:url" content="http://www.calcs4kids.com">
    <meta name="twitter:card" content="summary_large_image">

  </head>

  <body>
        
    <div class="section1-container">   
    <div class="row section_1" id="section_1">
      <div class="col-sm-4 col-sm-push-1 col-xs-6 col-xs-push-0">
          <%= image_tag 'calculator.jpg', id: 'calculator' %>
      </div>
      <div class="col-sm-5 col-sm-push-1 col-xs-5 section_1_right">
        <h1 class="darkgrey">Funding success.</h1>
        <h4 class="content grey">Connecting young scholars with graphing calculators so they have the tools they need to thrive academically</h4>
       
        <div class="button-donate" id="btn" onclick="drop()">Donate</div>
      </div>
      <div class="col-xs-10 col-xs-push-1">
          <div class="button-donate-alt" onclick="drop()">Donate</div>
      </div>
    </div>
    </div>

  	<div class="container-fluid">
    	<%= yield %>
    </div>
  </body>
</html>
